<header>
    <div class="left">
        <div class="fon">
            <i class="bi bi-bag"></i>
        </div>
        <h1>Brand</h1>
    </div>
    <ul>
        <li><a href="">
            <i class="bi bi-person-fill"></i>
            <p>Profile</p>
        </a></li>
        <li><a href="">
            <i class="bi bi-chat-left-text-fill"></i>
            <p>Message</p>
        </a></li>
        <li><a href="">
            <i class="bi bi-heart-fill"></i>
            <p>Orders</p>
        </a></li>
        <li><a href="">
            <i class="bi bi-cart-fill"></i>
            <p>My cart</p>
        </a></li>
    </ul>
</header>
